a {
  color: #333333;
  font-family: 'Futura', sans-serif;
  font-weight: bold;
}

body{
  background-color: gainsboro;
  padding: 0;
  margin: 0;
}

main{
  height: 100vh;
}

.container{
  height: 100%;
}

.title{
  margin-top: -2vw;
  width: 100%;
  min-height: 20vh;
  display: grid;
  place-items: center;  
}

.title a{
  font-size: 12vw;
  letter-spacing: -0.7vw;
}

.under-title{
  margin-top: -2.5rem;
  padding-right: 9.9vw;
  display: grid;
  justify-items: end;
}

.url{
  width: 12.4vw;
  height: 1.7vw;
  background-color: #333333;
  display: grid;
  justify-content: center;
  align-items: center;
}

.url-text{
  font-family: 'Futura', sans-serif;
  font-weight: bold;
  margin-top: -0.1vw;
  font-size: 0.9vw;
  color: gainsboro;
}

.body997{
  width: 100%;
  height: auto;
  margin-top: 80px;
}

svg{
  position: absolute;
}

img{
  position: absolute;
}

.car-part{
  width: 100vh;
}

.car-part-svg{
  width: 100vh;
  z-index: 1000;
}

.car-part-swap{
  width: 100vh;
  transition: opacity 0.2s ease-in-out;
}

.car-part-swap:hover{
  opacity: 0.85;
  
}

.car-part-delete{
  width: 100vh;
  transition: opacity 0.2s ease-in-out;
}

.car-part-delete:hover{
  cursor:grabbing;
  opacity: 0.8;
}

.bullet-hole{
  cursor: crosshair;
}

svg.car-part-svg path{
  cursor: crosshair;
}

svg.car-part-swap path,
svg.car-part-swap circle,
svg.car-part-swap ellipse,
svg.car-part-swap rect,
svg.car-part-swap line,
svg.car-part-swap polyline,
svg.car-part-swap polygon,
svg.car-part-swap text {
  cursor: grabbing !important;
  pointer-events: auto;
}

svg {
  pointer-events: none;
}

svg path {
  pointer-events: auto;
}

svg, img {
  user-select: none;
  -webkit-user-drag: none;
}

.image-background{
  display: grid;
  justify-content: center;
  width: 100%;
  height: 60vh
}

.image{
  margin-top: -150px;
  width: 60vw;
  display: grid;
  justify-items: center;
}

.valla{
  width: 54vw;
  height: auto;
}

.reset-button{
  display: grid;
  justify-content: center;
  width: 100%;
}

.button{
  width: 3rem;
  height: 1rem;
  background-color:#333333;
}