a {
  color: #333333;
  font-family: 'Futura', sans-serif;
  font-weight: bold;
}

body{
  background-color: gainsboro;
  padding: 0;
  margin: 0;
}

.container{
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 16vh 72vh 12vh;
}

.title{
  margin-top: 0px;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-rows: auto 7vh;
  place-items: center;
}

.title-text{
  font-size: 12vw;
  letter-spacing: -0.7vw;
  display: grid;
  align-self: start;
}

.under-title{
  height: 7vh;
  width: 100%;
  margin-top: -15vh;
  display: grid;
  place-items: end;
}

.url{
  margin-right: 9.9vw;
  width: 12.4vw;
  height: 2vw;
  background-color: #333333;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.url-text{
  font-family: 'Futura', sans-serif;
  font-weight: bold;
  margin-top: -0.1vw;
  font-size: 0.9vw;
  color: gainsboro;
}

.image-background{
  height: auto;
  width: 100%;
  display: grid;
  justify-content: center;
}

.image{
  width: 100vw;
  display: grid;
  justify-items: center;
  align-content: center;
}

.valla{
  display: grid;
  align-self: start;
  width: 53vw;
  pointer-events: none;
}

svg {
  pointer-events: none;
}

svg path {
  pointer-events: auto;
}

svg{
  user-select: none;
  -webkit-user-drag: none;
}

.body997{
  position: absolute;
  margin-top: 30px;
  height: 72vh;
  width: 49vw;
  display: grid;
  justify-items: center;
  align-items: center;
}

.car-part{
  position: absolute;
  width: 48vw;
}

.car-part-svg{
  position: absolute;
  width: 48vw;
}

.car-part-swap{
  position: absolute;
  width: 48vw;
  transition: opacity 0.2s ease-in-out;
}

.car-part-swap:hover{
  opacity: 0.85;
  
}

.car-part-delete{
  position: absolute;
  width: 48vw;
  transition: opacity 0.2s ease-in-out;
}

.car-part-delete:hover{
  cursor:grabbing;
  opacity: 0.8;
}

.bullet-hole{
  cursor: crosshair;
  width: 5vw;
}

svg.car-part-svg path{
  cursor: crosshair;
}

svg.car-part-swap path,
svg.car-part-swap circle,
svg.car-part-swap ellipse,
svg.car-part-swap rect,
svg.car-part-swap line,
svg.car-part-swap polyline,
svg.car-part-swap polygon,
svg.car-part-swap text {
  cursor: grabbing !important;
  pointer-events: auto;
}

.reset-button{
  width: 100vw;
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-rows: 9vh 2.7vh;
}

.button{
  height: 8.63vh;
  transition: opacity 0.2s ease-in-out;
}

.button:hover{
  opacity: 0.9;
}

svg.button path{
  cursor: pointer;
}

.url-text-footer{
  display: none;
}

@media screen and (max-width:2200px) {
  .valla{
    width: 53vw;
  }
}

@media screen and (max-width:1200px) {
  .url{
    background-color: transparent;
  }

  .url-text{
    display: none;
  }

  .body997{
    width: 75vw;
  }
  
  .car-part{
    width: 75vw;
  }
  
  .car-part-svg{
    width: 75vw;
  }
  
  .car-part-swap{
    width: 75vw;
  }
  
  .car-part-delete{
    width: 75vw;
  }

  .valla{
    width: 80vw;
  }

  .bullet-hole{
    width: 8vw;
  }

  .url-footer{
    width: 16.2vh;
    height: 2.7vh;
    background-color: #333333;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .url-text-footer{
    display: inline;
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-size: 1.16vh;
    color: gainsboro;
  }

  .button{
    height: 8.63vh;
  }
}

@media screen and (max-width:600px) {
  .container{
    grid-template-rows: 30vh 40vh 30vh;
  }

  .title-text{
    align-self: end;
  }

  .title{
    grid-template-rows: auto 0vh;
  }

  .body997{
    height: 40vh;
    margin-top: 13px;
  }
}

/* a {
  color: #333333;
  font-family: 'Futura', sans-serif;
  font-weight: bold;
}

body{
  background-color: gainsboro;
  padding: 0;
  margin: 0;
}

svg {
  pointer-events: none;
}

svg path {
  pointer-events: auto;
}

svg, img {
  position: absolute;
  user-select: none;
  -webkit-user-drag: none;
}

.body997{
  width: 60vw;
  margin-top: 8.4vh;
  display: grid;
  justify-items: center;
}

.car-part{
  width: 49vw;
}

.car-part-svg{
  width: 49vw;
  z-index: 1000;
}

.car-part-swap{
  width: 49vw;
  transition: opacity 0.2s ease-in-out;
}

.car-part-swap:hover{
  opacity: 0.85;
  
}

.car-part-delete{
  width: 49vw;
  transition: opacity 0.2s ease-in-out;
}

.car-part-delete:hover{
  cursor:grabbing;
  opacity: 0.8;
}

.bullet-hole{
  cursor: crosshair;
}

svg.car-part-svg path{
  cursor: crosshair;
}

svg.car-part-swap path,
svg.car-part-swap circle,
svg.car-part-swap ellipse,
svg.car-part-swap rect,
svg.car-part-swap line,
svg.car-part-swap polyline,
svg.car-part-swap polygon,
svg.car-part-swap text {
  cursor: grabbing !important;
  pointer-events: auto;
}



.title{
  margin-top: -2vw;
  width: 100%;
  display: grid;
  place-items: center;  
}

.title a{
  font-size: 12vw;
  letter-spacing: -0.7vw;
}

.under-title{
  margin-top: -35px;
  padding-right: 9.9vw;
  display: grid;
  justify-items: end;
}

.url{
  width: 12.4vw;
  height: 1.7vw;
  background-color: #333333;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.url-text{
  font-family: 'Futura', sans-serif;
  font-weight: bold;
  margin-top: -0.1vw;
  font-size: 0.9vw;
  color: gainsboro;
}

.image-background{
  display: grid;
  justify-content: center;
  width: 100%;
  height: 60vh
}

.image{
  margin-top: -7vw;
  width: 60vw;
  display: grid;
  justify-items: center;
}

.valla{
  width: 55vw;
  height: auto;
  pointer-events: none;
}

.reset-button{
  width: 100%;
  padding-top: 7px;
  display: grid;
  align-self: end;
  justify-content: center;
}

.button{
  width: 140px;
  transition: opacity 0.2s ease-in-out;
}

.button:hover{
  opacity: 0.9;
}

svg.button path{
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  
  .url{
    background-color: transparent;
  }

  .url-text{
    display: none;
  }

  .body997{
    width: 65vw;
  }

  .car-part{
    width: 60vw;
  }
  
  .car-part-svg{
    width: 60vw;
  }
  
  .car-part-swap{
    width: 60vw;
  }
  
  .car-part-delete{
    width: 60vw;
  }

  .image{
    margin-top: -6vw;
    width: 75vw;
  }
  
  .valla{
    width: 70vw;
  }
}

@media screen and (max-width: 1100px) {
  
  .body997{
    width: 75vw;
    margin-top: 8.4vh;
    display: grid;
    justify-items: center;
  }
  
  .car-part{
    width: 70vw;
  }
  
  .car-part-svg{
    width: 70vw;
  }
  
  .car-part-swap{
    width: 70vw;
  }
  
  .car-part-delete{
    width: 70vw;
  }

  .image{
    margin-top: -6vw;
    width: 83vw;
  }
  
  .valla{
    width: 78vw;
  }
}

@media screen and (max-width: 850px) {
  .title{
    margin-top: 12vw;
  }

  .body997{
    width: 80vw;
  }

  .car-part{
    width: 75vw;
  }
  
  .car-part-svg{
    width: 75vw;
  }
  
  .car-part-swap{
    width: 75vw;
  }
  
  .car-part-delete{
    width: 75vw;
  }

  .image{
    width: 90vw;
  }

  .valla{
    width: 85vw;
  }
}

@media screen and (max-width: 700px) {
  .body997{
    margin-top: 4.5vh;
  }

  .image{
    margin-top: 12vh;
  }
  
  
}

@media screen and (max-width: 500px) {
 
  .body997{
    width: 80vw;
  }

  .car-part{
    width: 75vw;
  }
  
  .car-part-svg{
    width: 75vw;
  }
  
  .car-part-swap{
    width: 75vw;
  }
  
  .car-part-delete{
    width: 75vw;
  }

  .image{
    width: 75vw;
  }
  
  .image{
    width: 90vw;
  }

  .valla{
    width: 85vw;
  }
} */

